@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* H1 - H6 font */
h1, h2, .h1, .h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #2e87c8;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Slab', sans-serif;
  color: #333333;
}

.sidebar {
  color: #333333;
}

.btn-icon-right {
  float: right !important;
  padding-top: 0.22em;
  padding-left: 0.25em;
}

.scroll-overflow-x {
  overflow-x: auto;
}

.irs-bar {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  background: #333333;
}

.irs-from, .irs-to, .irs-single {
  background: #333333;
}

#loading {
  position: fixed;
  width: calc(100% - 230px);
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  font-size: 100%;
  color: #000000;
  background-color: #f2f2f2;
  z-index: 800;
}

.main-header .logo {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
}
