.header {
  margin-top: 18px;
}

.header h3 {
  padding-top: 10px;
  margin-top: 0;
}

.header nav.navbar {
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.25);
  border: 1px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.image-frame {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 85%;
}

p > code, li > code {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.2em;
  border-radius: 3px;
  color: #000;
}

.table {
  width: auto;
}

pre {
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 1em 0em 1em 0em;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 100px;
}

#TOC.affix {
  position: static;
}

@media screen and (min-width: 768px) {
  #TOC.affix {
    width: 200px;
    position: fixed;
    top: 15px;
  }
  #TOC.affix-bottom {
    position: absolute;
  }
}

#TOC .nav>li>a {
  padding: 4px 5px;
  font-size: 16px;
  font-weight: 700;
}

#TOC .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 400;
}

#TOC .nav .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 25px;
  font-size: 14px;
}

/* All links */
#TOC .nav>li>a {
    border-left: 2px solid transparent;
}

/* Active and hover links */
#TOC .nav>.active>a,
#TOC .nav>li>a:hover,
#TOC .nav>li>a:focus {
  color: #004461;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid #004461;
}
