/* A replacement for .small-box .icon, where the icon is smaller and doesn't
   change size when moused over. */
.small-box .icon-large {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  font-size: 75px;
  color: rgba(0, 0, 0, 0.15);
}

/* Increase margin on right for header dropdown menus */
.skin-blue .navbar .navbar-right > .nav {
  margin-right: 20px;
}
.skin-black .navbar .navbar-right > .nav {
  margin-right: 20px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .ion {
  float: left;
  font-size: 30px;
  width: 50px;
  text-align: center;
  margin-right: 5px;
  color: #000;
}
